$primary-gradient: linear-gradient(57deg, #202020 0%, #151515 50%, #090909 100%);
$primary-flatten-gradient: linear-gradient(57deg, #111111 50%, #090909 100%);
$primary-gradient-reversed: linear-gradient(327deg, rgb(255, 176, 176) 0%, rgb(255, 137, 224) 50%, rgb(163, 71, 255) 100%);
