@import "../../styles/vars";

.homePage {
  width: 100%;
  min-height: 100%;
  background: $primary-gradient;
  padding: 50px;
  overflow: hidden;

  .content {
    display: flex;

    .userCard {
      background: $primary-flatten-gradient;
      margin-left: 50px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, .2);
      border-radius: 20px;
      height: 500px;
      width: 500px;
    }
  }

  .usersTable {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .2);
    border-radius: 20px;
    overflow: hidden;

    .header {
      background: $primary-gradient-reversed;
    }

    .row {
      display: flex;
      cursor: pointer;
      transition: all .3s;
      height: 50px;

      div {
        &:first-child {
          width: 80px;
        }

        &:nth-child(4){
          width: 300px;
        }

        width: 150px;
        background-color: $primary-flatten-gradient;
        padding: 10px 20px;
        font-family: Rubik, sans-serif;
        color: white;
      }

      &:not(.header):hover {
        background-color: #8000ff !important;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, .2);
      }

      &:nth-child(2n) {
        background-color: #2a2a2a;
      }
    }

    .selected{
      background-color: aquamarine !important;
      div{
        color: black;
      }
    }

  }
}

.pv{
  font-family: Rubik, sans-serif;
  color: white;
  padding: 30px;
  .pvname{
    font-weight: bold;
    margin-right: 10px;
  }
  .pvvalue{

  }
}
