@import "../../styles/vars";

.homePage {
  width: 100%;
  min-height: 100%;
  background: $primary-gradient;
  background-attachment: fixed;
  padding: 50px;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
